:root {
    --max-content-width: 800px;
    --background-colour:#F7F5FB;
    --primary-colour: #031D44;
    --secondary-colour:#084887;
    --button-colour: #F58A07;
}

@font-face {
    font-family: pixellari;
    src: url(../fonts/Pixellari.ttf);
}

@font-face {
    font-family: easvhs;
    src:url(../fonts/easvhs.ttf)
}

@font-face {
    font-family: openMine;
    src: url(../fonts/OpenMine.ttf);
}

@font-face {
    font-family: betterVCR;
    src: url(../fonts/BetterVCR\ 25.09.ttf);
}

@font-face {
    font-family: grapeSoda;
    src: url(../fonts/GrapeSoda.ttf);
}

@font-face {
    font-family: arw;
    src: url(../fonts/ari-w9500-display.ttf);
}

main {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: var(--max-content-width);
    padding: 3rem;

    border:0.5rem, solid, var(--primary-colour);
    background-color: var(--background-colour);
}

body {
    color: var(--primary-colour);
    /*background*/
    background-image: url("../images/water-bg.png");
    background-attachment: fixed;
}

/* fonts - fix later*/
h1, h2, h3 {
    font-family: arw;
}

h1 {
    font-size: 4rem;
    margin: auto;
}

h2 {
    font-size: 2rem;
}

p, li, h3 {
    font-family: betterVCR;
    font-size: 1rem;
}

/*nav- bar*/
header ul {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    max-width: var(--max-content-width);
    margin: auto;
    margin-top: 4rem;
}
header li {
    font-family: grapeSoda;
    font-size: 4rem;
    list-style: none;
}

header li:hover {
    -webkit-text-stroke: 1px white;
    transform: scale(1.2);
    cursor:pointer;
}



/*Main page stuff*/

#job-title {
    margin: auto;
}

/* socials stuff */
.socials li {
    min-width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border:solid;
}

.socials svg {
    height:2rem;
}

.socials ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap:1rem;
    max-width: 600px;
}

.socials li:hover {
    background-color: white;
    cursor:pointer;
    transform: scale(1.1);
    color: var(--button-colour);
}

/* projects */

.projects li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects svg {
    height: 5rem;
}
.projects ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.projects li:hover {
    transform: scale(1.1);
    cursor:pointer;
    color: var(--button-colour);
    text-decoration: underline;
}



/* Games page */
#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;
}
.game-card {
    display: flex;
    flex-direction: column;
    width: 22rem;

    border: solid;
}

.game-title {
    margin:auto;
    font-size: 2rem;
    padding: 1rem;
}

.game-date {
    font-size: 1rem;
    margin: auto;
}

.game-card p {
    padding-inline: 1rem;
    font-size: 1rem;
}

.game-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    color: var(--secondary-colour);

}

.game-tags li{
    font-size: 1rem;
    font-family: pixellari;
}

.game-card:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: white;
}


/* Game description page */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#play-button {
    display: flex;
    justify-items: center;
    padding: 1rem;

    background-color: var(--primary-colour);
    color: var(--background-colour);
    
}

#play-button:hover{
    transform: scale(1.1);
    background-color: var(--button-colour);
}

#git-button {
    height: 3rem;
}

#git-button:hover{
    transform: scale(1.1);
    color: var(--button-colour);
}

#game-image-container {
    display: flex;
    justify-content: center;
    height: 50vh;
    width: auto;
    padding: 1rem;
}

#tags {
    display: flex;
    gap: 2rem;
}

