:root {
    --max-content-width: 800px;
    --background-colour:#F7F5FB;
    --primary-colour: #031D44;
    --secondary-colour:#084887;
    --button-colour: #F58A07;
}

@font-face {
    font-family: pixellari;
    src: url(../fonts/Pixellari.ttf);
}

@font-face {
    font-family: easvhs;
    src:url(../fonts/easvhs.ttf)
}

@font-face {
    font-family: openMine;
    src: url(../fonts/OpenMine.ttf);
}

@font-face {
    font-family: betterVCR;
    src: url(../fonts/BetterVCR\ 25.09.ttf);
}

@font-face {
    font-family: grapeSoda;
    src: url(../fonts/GrapeSoda.ttf);
}

@font-face {
    font-family: arw;
    src: url(../fonts/ari-w9500-display.ttf);
}

main {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: var(--max-content-width);
    padding: 3rem;

    border:0.5rem, solid, var(--primary-colour);
    background-color: var(--background-colour);
}

body {
    color: var(--primary-colour);
    /*background*/
    background-image: url("../images/ocean-bg.png");
    background-attachment: fixed;
    background-size:cover;
    background-position: bottom;
    image-rendering: pixelated;
}

/* fonts - fix later*/
h1, h2, h3 {
    font-family: arw;
}

h1 {
    font-size: 4rem;
    margin: auto;
}

h2 {
    font-size: 2rem;
}

p, li, h3 {
    font-family: betterVCR;
    font-size: 1rem;
}


/*nav- bar*/
header ul {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    max-width: var(--max-content-width);
    margin: auto;
    margin-top: 4rem;
}
header li {
    font-family: grapeSoda;
    font-size: 4rem;
    list-style: none;
}

header li:hover {
    -webkit-text-stroke: 1px white;
    transform: scale(1.2);
    cursor:pointer;
}



/*Main page stuff*/

#job-title {
    margin: auto;
}

/* socials stuff */
.socials li {
    min-width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border:solid;
}

.socials svg {
    height:2rem;
}

.socials ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap:1rem;
    max-width: 600px;
}

.socials li:hover {
    background-color: white;
    cursor:pointer;
    transform: scale(1.1);
    color: var(--button-colour);
}

/* projects */

.projects li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects svg {
    height: 5rem;
}
.projects ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.projects li:hover {
    transform: scale(1.1);
    cursor:pointer;
    color: var(--button-colour);
    text-decoration: underline;
}



/* Games and arts page */
#games-container, .arts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;
    margin-top: 2rem;
}
.game-card{
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 35rem;
    border: solid;
}
.art-card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 25rem;
    border: solid;
}


.card-game-title, .art-title {
    margin:auto;
    font-size: 2rem;
    padding: 1rem;
}

#card-game-date {
    font-family: openMine;
    font-size: 1.5rem;
    margin: auto;
    color: var(--secondary-colour);
}

.game-card p {
    padding-inline: 1rem;
    font-size: 1rem;
}

.card-game-image, .art-card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-card:hover, .art-card:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: white;
}

.game-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    color: var(--secondary-colour);

}

.game-tags li{
    font-size: 1rem;
    font-family: pixellari;
}


.art-card-image {
    height: 20rem;
}


/* Game description page */

#game-detail-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 1rem;
}

#play-button {
    display: flex;
    justify-items: center;
    padding: 1rem;

    background-color: var(--primary-colour);
    color: var(--background-colour);
    
}

#play-button:hover{
    transform: scale(1.1);
    background-color: var(--button-colour);
}

#git-button {
    height: 3rem;
}

#git-button:hover{
    transform: scale(1.1);
    color: var(--button-colour);
}

#game-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: auto;
    padding: 1rem;
}


#tags {
    display: flex;
    gap: 2rem;

    font-size: 0.5rem;
    color: var(--secondary-colour);
}

#game-title {
    display: flex;
    justify-content: center;
}

#date {
    display: flex;
    justify-content: center;
    padding: 1rem;

    font-family: openMine;
    font-size: 1.5rem;
    color: var(--secondary-colour);
}

/*carousel*/
.carousel {
    position: relative;
}

.carousel ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 10px;           
}

.carousel li{
    height: 100%;
}

.carousel img{
    height: 100%;
    width: auto;
    object-fit: contain;
    position: absolute;
    transform: translateX(-50%);
}


.carousel button {
    z-index: 2;
    width: 3rem;
    height: 3rem;
}

.carousel-button-prev, .carousel-button-next {
    position: absolute;
}

.carousel-button-prev{
    left: 0;
}
.carousel-button-next{
    right: 0;
}

.slide {
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide[data-active] {
    opacity: 1;
    transition-delay: 0;
}


/*   art stuff   */
.art-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;
    margin-top: 2rem;
}

.art-container img{
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    transition: 200ms transform ease-in-out;
}

.art-container img:hover {
    transform: scale(1.1);
    
}

.full-img {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
    flex-direction: column;
}

.full-img img {
    width: 90%;
    max-height: 70%;
    object-fit: contain;
}

.full-img span {
    position: absolute;
    top: 5%;
    font-size: 30px;
    right: 5%;
    color:#fff;
    cursor:pointer;
    font-family: pixellari;
}

.art-info {
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

/*next and prec buttons */
/*maybe refactor it later*/
#art-button-prev, #art-button-next, .carousel button{
    position: absolute;
    background-color: none;
    background: none;
    border: none;
    padding: 0;
    color:var(--secondary-colour)
}

#art-button-prev svg:hover, #art-button-next svg:hover, .carousel-button-prev svg:hover, .carousel-button-next svg:hover{
    transform: scale(1.2);
    color:var(--button-colour)
}

#art-button-prev svg, #art-button-next svg{
    height: 4rem;
}

#art-button-prev {
    left: 2rem;
}

#art-button-next {
    right: 2rem;
}


/* mobile responsiveness */
@media screen and (max-width: 800px){
    html {
        font-size: clamp(0.5rem, 2.5vw, 1rem);
    }
    h1 {
        font-size: 3rem;
    }
    body{
        margin: 0;
        min-height:100vh;
        display: flex;
        flex-direction: column;
    }
    main {
        border: none;
        flex-grow: 1;
        margin:0
    }
    /*nav*/
    header {
        background-color: #031D44;
    }
    header ul {
        margin-top: 0;
        padding: 1rem;
    }
    header li {
        color:var(--background-colour);
        font-size: 2.5rem;
    }
    .socials ul{
        padding: 0;
    }
    .carousel img{
        max-width: 100vw;
    }
}
