:root {
    --max-content-width: 800px;
    --background-colour:#f2f2f2;
    --button-colour: rgb(231, 106, 3);
}

main {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: var(--max-content-width);
    padding: 3rem;

    border:0.5rem, solid, black;
    background-color: var(--background-colour);
}

body {
    /*background*/
    background-image: url("../images/water-bg.png");
    background-attachment: fixed;
}

/* fonts - fix later*/
h1, h2, h3, p, li {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 5rem;
    margin: auto;
}

h2 {
    font-size: 3rem;
}

p, li, h3{
    font-size: 2rem;
}

/*nav- bar*/
header ul {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    max-width: var(--max-content-width);
    margin: auto;
    margin-top: 4rem;
}
header li {
    font-size: 3rem;
    list-style: none;
}

header li:hover {
    -webkit-text-stroke: 1px white;
    transform: scale(1.2);
    cursor:pointer;
}
/*
p, li {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;

}
    */

/*Main page stuff*/

#job-title {
    margin: auto;
}

/* socials stuff */
.socials li {
    min-width: 10rem;
    border:solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.socials svg {
    height:2rem;
}

.socials ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap:1rem;
    max-width: 600px;
}

.socials li:hover {
    background-color: white;
    cursor:pointer;
    transform: scale(1.1);
    color: var(--button-colour);
}

/* projects */

.projects li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects svg {
    height: 5rem;
}
.projects ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.projects li:hover {
    transform: scale(1.1);
    cursor:pointer;
    color: var(--button-colour);
    text-decoration: underline;
}
